Node-REDデータ_by_kumano.txt
[
    {
        "id": "4b7ddab0.5eb014",
        "type": "debug",
        "z": "9fd49fdf.c1f2c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 408,
        "y": 185,
        "wires": []
    },
    {
        "id": "4689f7e.14b8408",
        "type": "mosca in",
        "z": "9fd49fdf.c1f2c",
        "mqtt_port": 1883,
        "mqtt_ws_port": 8080,
        "name": "",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 166,
        "y": 186,
        "wires": [
            [
                "4b7ddab0.5eb014"
            ]
        ]
    },
    {
        "id": "7985c9d8.a9f388",
        "type": "comment",
        "z": "9fd49fdf.c1f2c",
        "name": "MQTTブローカー",
        "info": "",
        "x": 156,
        "y": 146,
        "wires": []
    },
    {
        "id": "35e9669f.8000fa",
        "type": "inject",
        "z": "9fd49fdf.c1f2c",
        "name": "red 255,0,0",
        "topic": "",
        "payload": "{\"led\":1,\"r\":255,\"g\":0,\"b\":0,\"message\":\"red\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 386,
        "wires": [
            [
                "86ff741.ee8ee88"
            ]
        ]
    },
    {
        "id": "86ff741.ee8ee88",
        "type": "mqtt out",
        "z": "9fd49fdf.c1f2c",
        "name": "",
        "topic": "/sub/STM32",
        "qos": "",
        "retain": "",
        "broker": "88621fd5.fffa9",
        "x": 400,
        "y": 426,
        "wires": []
    },
    {
        "id": "1c53b756.2f98f9",
        "type": "inject",
        "z": "9fd49fdf.c1f2c",
        "name": "blue 0,0,255",
        "topic": "",
        "payload": "{\"led\":1,\"r\":0,\"g\":0,\"b\":255,\"message\":\"blue\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 306,
        "wires": [
            [
                "86ff741.ee8ee88"
            ]
        ]
    },
    {
        "id": "3a2c427.bcc6fbe",
        "type": "inject",
        "z": "9fd49fdf.c1f2c",
        "name": "green 0,255,0",
        "topic": "",
        "payload": "{\"led\":1,\"r\":0,\"g\":255,\"b\":0,\"message\":\"green\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 486,
        "wires": [
            [
                "86ff741.ee8ee88"
            ]
        ]
    },
    {
        "id": "b88024e.1a150d8",
        "type": "inject",
        "z": "9fd49fdf.c1f2c",
        "name": "off",
        "topic": "",
        "payload": "{\"led\":0,\"r\":0,\"g\":0,\"b\":0,\"message\":\"close\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 566,
        "wires": [
            [
                "86ff741.ee8ee88"
            ]
        ]
    },
    {
        "id": "72c44ef2.c19c9",
        "type": "mqtt in",
        "z": "9fd49fdf.c1f2c",
        "name": "",
        "topic": "/pub/STM32",
        "qos": "2",
        "broker": "88621fd5.fffa9",
        "x": 130,
        "y": 686,
        "wires": [
            [
                "44f89a4b.289244"
            ]
        ]
    },
    {
        "id": "44f89a4b.289244",
        "type": "debug",
        "z": "9fd49fdf.c1f2c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 380,
        "y": 746,
        "wires": []
    },
    {
        "id": "88621fd5.fffa9",
        "type": "mqtt-broker",
        "z": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]