examples/03.MQTT/005.MQTT_Sensor/Arduino_MQTTSensor/node-red.txt
[{"id":"89f01ffd.d4d0a","type":"tab","label":"MQTT2","disabled":false,"info":""},{"id":"640438e4.0e5a28","type":"mosca in","z":"89f01ffd.d4d0a","mqtt_port":"1883","mqtt_ws_port":"8081","name":"MOSCA","username":"","password":"","dburl":"","x":360,"y":160,"wires":[["e238ae45.dd9e3"]]},{"id":"25613c95.4b9b24","type":"mqtt in","z":"89f01ffd.d4d0a","name":"","topic":"user/feeds/hello","qos":"2","broker":"d2db31c.433a8d","x":350,"y":320,"wires":[["e238ae45.dd9e3"]]},{"id":"e238ae45.dd9e3","type":"debug","z":"89f01ffd.d4d0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":640,"y":320,"wires":[]},{"id":"73d68393.2315bc","type":"mqtt in","z":"89f01ffd.d4d0a","name":"","topic":"user/feeds/temp","qos":"2","broker":"d2db31c.433a8d","x":350,"y":380,"wires":[["e238ae45.dd9e3"]]},{"id":"10cddcff.b711e3","type":"mqtt in","z":"89f01ffd.d4d0a","name":"","topic":"user/feeds/hum","qos":"2","broker":"d2db31c.433a8d","x":350,"y":460,"wires":[["e238ae45.dd9e3"]]},{"id":"9eb983fb.a0d6c","type":"mqtt out","z":"89f01ffd.d4d0a","name":"","topic":"user/feeds/onoff","qos":"2","retain":"false","broker":"d2db31c.433a8d","x":650,"y":560,"wires":[]},{"id":"50970b7c.e71b74","type":"inject","z":"89f01ffd.d4d0a","name":"LED ON","topic":"ON","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":560,"wires":[["9eb983fb.a0d6c"]]},{"id":"2a87522.89268ae","type":"inject","z":"89f01ffd.d4d0a","name":"LED OFF","topic":"OFF","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":640,"wires":[["9eb983fb.a0d6c"]]},{"id":"9db13027.bc0eb","type":"mqtt in","z":"89f01ffd.d4d0a","name":"","topic":"user/feeds/aaa","qos":"2","broker":"d2db31c.433a8d","x":350,"y":240,"wires":[["e238ae45.dd9e3"]]},{"id":"d2db31c.433a8d","type":"mqtt-broker","z":"","name":"MQTT_BROKER2","broker":"192.168.100.103","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]